* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
  height: 200px;
  background-color: aqua;
}

.sidebar {
  width: 270px;
  height: 200px;
  background-color: rgb(4, 255, 0);
}
